<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>SHRA - Smart Hospital Room Assistant</title>
    <link rel="shortcut icon" href="../static/logo.svg" type="image/x-icon">
</head>
<body>
    <div class="navbar">
        <img src="../static/logo.svg" onclick="window.location.href='/'" alt="">
        <a href="/patientinfo">Patient Info</a>
    </div>
   <div class="heading-space">
        <div>
            <p class="headingtitle">Patients Information</p>
            <p class="section-desc">Track all your patients here at one place</p>
        </div>
        <button class="newpatient">+ Add New Patient</button>
   </div>
   <div>
    {%for i in data%} 
    <div class="individual-data">

    </div>
    {%endfor%} 
   </div>
</body>
</html>